.Rproj.user
.Rhistory
tmp_*
*.pyc
*.dimacs
*.tree
*.sol
*.graph
*.comp
datasets/*
ProdRules
Results/*
transbin
.DS_Store
.RData
.idea/
.ipynb_checkpoints/
*.pdf
utils/*
.*.swp
ExplodingTrees/*
.*.edl
*.tsv
*.csv
pyths
xplodnTree/xplodnTree.xcodeproj/xcuserdata/sal.aguinaga.xcuserdatad/xcdebugger

